/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.tool-bar{
    -fx-background-color: #2196f3;
}


.bg-white-smoke{
    -fx-background-color: #f5f5f5;
}

.txt-flow{
    -fx-text-box-border: #f5f5f5;
    -fx-padding: 10;
}

.txt-flow:focused {
    -fx-focus-color: transparent;
}